<h2 class="title-md <%= 'hidden-text' if question.hidden? %>">Вопрос номер <%= question.id %> пользователю <%= link_to "@#{question.user.nickname}", user_path(question.user.nickname) %></h2>
<div class="mb-lg mt-sm <%= 'hidden-text' if question.hidden? %>"><%= simple_format h(question.body) %></div>
<% if question.answer.present? %>
  <div class="mb-lg mt-sm text-dark-red <%= 'hidden-text' if question.hidden? %>"><%= simple_format h(question.answer) %></div>
<% end %>

<div class="question-footer">
  <div class="text-grey">
    Создан
    <%= l(question.created_at, format: :short) %>
    <% if question.author.present? %>
      <%= link_to "@#{question.author.nickname}", user_path(question.author.nickname) %>
    <% else %>
      анонимно
    <% end %>
  </div>

  <% if current_user == question.user %>
    <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
    <div>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Изменить вопрос", class: "mr-sm" %>

      <%= button_to fa_icon("cloud"), hide_question_path(question), class: "mr-sm",
                    method: :put,
                    form: {data: {turbo_confirm: "Уверены, что хотите вопрос #{question.id} сделать скрытым?"}} unless question.hidden %>

      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete,
                      title: "Удалить вопрос", form: {data: {turbo_confirm: "Уверены, что хотите удалить вопрос #{question.id}?"}} %>
    </div>
  <% end %>
</div>


<% if question.hashtags.any? %>
  <div class="hashtag-footer">
    <% question.hashtags.each do |hashtag| %>
      <p class="hashtag"><%= link_to(hashtag.body, hashtag_path(hashtag.body)) %></p>
    <% end %>
  </div>
<% end %>
