<% unless question.hidden %>
  <h2 class="title-md">Вопрос номер <%= question.id %></h2>
  <p class="mb-lg mt-sm"><%= question.body %></p>
<% else %>
  <h2 class="title-md hidden-text">Вопрос номер <%= question.id %></h2>
  <p class="mb-lg mt-sm hidden-text"><%= question.body %></p>
<% end %>

<div class="question-footer">
  <div>
    <%= link_to fa_icon("pencil"), edit_question_path(question), title: "Изменить вопрос" %>

    <%= button_to fa_icon("cloud"), hide_question_path(question),
                  method: :put,
                  form: {data: {turbo_confirm: "Уверены, что хотите вопрос #{question.id} сделать скрытым?"}} if question.hidden == false %>

    <%= button_to fa_icon("trash-o"), question_path(question), method: :delete,
                    title: "Удалить вопрос", form: {data: {turbo_confirm: "Уверены, что хотите удалить вопрос #{question.id}?"}} %>
  </div>

  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>
</div>

