<% if @question.errors.any? %>
  <div class="container">
    <div class="mt">
      <% @question.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <h2 class="title-lg mb">
    Недавно добавились
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: 'users/user_avatar', locals: {user: user} %>
    <% end %>
  </div>
</div>


<div class="container mt-sm">
  <h2 class="title-lg">
    На странице
    <%= inclination(@questions.count, 'последний', 'последние', 'последние') %>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<div class="container mt-sm">
  <div class="hashtags-box">
    <% @hashtags.each do |hashtag| %>
      <p class="hashtag"><%= link_to "#{hashtag.body}", hashtag_path(hashtag.body) %></p>
    <% end %>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <p class="mb text-sm text-grey">
      Вопрос <%= link_to "##{question.id}", question_path(question) %>
      для юзера <%= link_to "@#{question.user.nickname}", user_path(question.user.nickname) %>
    </p>

    <%= render partial: 'question', object: question %>
  </div>
<% end %>
