<div class="container">
  <h2 class="title-lg mb">Вопрос номер <%= @question.id %></h2>
  <p><%= @question.body %></p>

  <div class="mt">
    <%= link_to fa_icon("pencil"), edit_question_path(@question), title: "Изменить вопрос" %>

    <%= button_to fa_icon("trash-o"), question_path(@question), method: :delete,
                  title: "Удалить вопрос", form: {data: {turbo_confirm: "Уверены, что хотите удалить вопрос #{@question.id}?"}} %>
    <%= button_to fa_icon("cloud"), "#{question_path(@question)}/hide",
                  method: :put,
                  form: {data: {turbo_confirm: "Уверены, что хотите вопрос #{@question.id} сделать скрытым?"}} if @question.hidden == false %>
  </div>

  <p class="mt"><%= link_to "Вернуться на главную страницу", questions_path %></p>
</div>
